body{
    overflow: auto;
    background-color: darkgrey;
}

.sakums{
    text-align: center;
}
.kopeja_kaste{
    display: flex;
}
.Ieteikumi, .poga{
    margin-left: 20%;
    float: left;
    display: flex;
}
.iemesls{
    display: block;
}
.Kreisa_puse{
    border-width: 50px;
    border-style: solid;
    background-color:lightgrey;
    border-color: rgb(95, 95, 95);
    
}

.bilde{
    height: 50%;
    width: 50%;
    margin-top: 150px;
    margin-left: 5%;
}

.Laba_puse, .Kreisa_puse{
    float:left;
    display: flex;
}
.Laba_puse{
    background-color: lightgray;
    margin-left: 10%;
    border-width: 50px;
    float: left;
    display: inline;
}