body{
  background: linear-gradient(to right, rgb(85, 85, 85) 0%, rgb(85, 85, 85) 15%, darkgray 15%, darkgray 85%, rgb(85, 85, 85) 85%, rgb(85, 85, 85) 100%);
    max-width: 100%;
    min-width: 800px;
}
.kopeja_kaste{
  background-color: darkgray;
}
.Ieteikumi{
    display: block;
    text-align: center;
}
.kolona {
    padding: 5px;
    margin-left: 30%;
    margin-right: 35%;
    border-style: solid;
    background-color: lightgray;
  }
.rinda {
    display: flex;
}
img{
  width: 100px;
  height: 100px;
}
button + button{
  margin-left: 5%;
  margin-top: 5%; 
}

.Otra_kaste{
  border-style: solid;
  margin-left: 30%;
  margin-right: 35%;
  margin-top: 15px;
  background-color: lightgray;
}
.input_left, .input,.check_left,.check,.select_left,.select{ 
  display: inline;
  margin-top: 5px;
}
.Input_kaste, .check_kaste,.select_kaste{
  display: flex;
  }
  .poga1{
    display: inline;
  }
  .atpakal{
    margin-top: 15px;
    margin-left: 30%;
    background-color: darkgray;
  }
