body{
    background-color:rgb(85, 85, 85);
}
.Ieteikumi{
    display: block;
    text-align: center;
}
.kolona {
    padding: 5px;
    margin-left: 30%;
    margin-right: 35%;
    border-style: solid;

  }
.rinda {
    display: flex;
}
.poga{
  width: 100%;
}
img{
  width: 100px;
  height: 100px;
}
button + button{
  margin-left: 5%;
  margin-top: 5%;
  
}

